 html{
     background-color: #00CFB7;
 }

 body{
     width: 900px;
     margin: 12px auto;
     background-color: #FDF082;
     color:#625F4E ;
     padding: 0 20px 50% 20px;
     border: 4px solid black;
 }

 h1{
     text-align: center;
     margin:0;
     padding: 20px 0;
     color: black;
     font-family: 'Oswald', sans-serif;
     font-weight: 500;
     font-size: 100 px;
 }

 li{
     list-style: square;
     width: 100%;
     margin: 0;
     padding: 0;
     white-space: nowrap;
     overflow-x: auto;
     overflow-y: hidden;
     border-bottom: 1px solid #00CFB7;
 }

 li > p, li > button{
     display: inline-block;
 }
 li >p {
     width: 85%;
     font-family: 'Kiwi Maru', serif;
     font-size: 20px;
 }
 button{
     background-color: white;
 }

 #add{
    font-family: 'Train One', cursive;
    font-weight: bold;
    color:#00CFB7;
    text-shadow: 1px, 1px, #00CFB7 ;
    font-size: 20px;
 }

 #add:hover{
    transition: 0.5s;
    color: white;
    background-color: #00CFB7;
    border: 2px solid white;
 }

 .delete{
    width: 5%;
    font-family: 'Train One', cursive;
    font-weight: bold;
    color: red;
    text-shadow: red;
    font-size: 20px;
 }

.delete:hover{
    transition: 0.5s;
    color: white;
    background-color: red;
    border: 2px solid white;
}
.up, .down{
    width: 5%;
    font-family: 'Train One', cursive;
    font-weight: bold;
    color: black;
    text-shadow: black;
    font-size: 20px;
}

.up:hover, .down:hover{
    transition: 0.5s;
    color: white;
    background-color: black;
    border: 2px solid white;
}

input{
    height: 20px;
    width: 90%;
}
